@import url(../../../stylesheets/application.css);

/* fonts	----------------------------------------------------------- */
body,
input,
select,
textarea { font-family: "맑은 고딕", Verdana, Sans-Serif; font-size: 10pt; }
h1, h2, h3, h4 { font-family: "맑은 고딕","Trebuchet MS", Verdana, Sans-Serif; }
/* color	----------------------------------------------------------- */
#top-menu { background-color: #600; font-size: 0.8em; }
#top-menu, #top-menu a, #main-menu li a { font-weight: normal; }
#header { background-color: #000; }
#main-menu li a:hover { background-color: #666; }
#main { }
a, a:link, a:visited { color: #079; }
a.wiki-page.new { color: #900 !important; }
.box { background-color: #fcfcfc; }

/* more style	----------------------------------------------------------- */
#header { min-height: 2rem; }
#header h1 { line-height: 1; margin: 0 0 0.5rem; padding: 0; }
#quick-search select,
#quick-search input { color: white; background: #000; border: 1px solid #555; }
#quick-search select { -moz-appearance: none; -webkit-appearance: none; }

#main-menu li a { padding: 0px 8px; }

/* table	----------------------------------------------------------- */
table.list { border: none; }
table.list thead th { border: solid 1px #d7d7d7; padding: 3px; }
table.list tbody td { border: solid 1px #d7d7d7; padding: 1px; }
table.list tbody tr:hover td { background-color: #ddd; }
table.list th:first-of-type,
table.list td:first-of-type { border-left: none; }
table.list th:last-of-type,
table.list td:last-of-type { border-right: none; }

/* wiki page	----------------------------------------------------------- */
div.wiki ol,
div.wiki ul { padding-left: 2em; }
div.wiki ul li { list-style: square; }
div.wiki ul.toc li { list-style: none; }
div.wiki h1 { font-size: 1.4em; margin-top: 3em; page-break-before: always; }
div.wiki h1:first-of-type { margin-top: 0; page-break-before: unset; }
div.wiki h2 { border-bottom: 1px solid #ccc; margin-top: 1em; }
div.wiki h3, .wiki h4 { border: none; }
div.wiki table { width: 95%; margin: 1em auto; border: none; }
div.wiki table, div.wiki td, div.wiki th { padding: 2px; }
div.wiki table tr th { background: #ccc; }
div.wiki table th:first-of-type,
div.wiki table td:first-of-type { border-left: none; }
div.wiki table th:last-of-type,
div.wiki table td:last-of-type { border-right: none; }
div.wiki blockquote { background: #f9f9f9; padding: 0.1rem 0 0.1rem 0.6rem; }
div.wiki blockquote p:first-of-type { margin-top: 0.2rem; }
div.wiki blockquote p:last-of-type { margin-bottom: 0.2rem; }
div.wiki ul.toc { line-height: 1.2em; background-color: #f9f9f9; }
div.wiki ul.toc { padding: 0.5em 1em; }
div.wiki ul.toc li,
div.wiki ul.toc li li,
div.wiki ul.toc a { font-size: inherit; }

/* issues	----------------------------------------------------------- */
.list.issues { font-size: 0.9em; }
.list.issues tr.group td { padding: 4px; }
.list.issues td { padding: 0; }
.list.issues .closed,
.list.issues .closed a { color: #aaa !important; }
.list.issues .overdue .due_date { color: #900; }
.list.issues .issue .subject a { color: inherit; }
.list.issues .priority-high3 .subject a { color: #900; }
.list.issues .priority-high2 .subject a { color: #900; font-weight: bold; }
.list.issues .priority-highest .subject a { color: #900; font-weight: bold; }
.list.issues .priority-highest { color: #900; }
.list.issues table.progress { height: 0.5em; margin: auto; width: 100%; }

.list.issues td.id { padding-left: 2px padding-right: 2px; }
.list.issues td.id { border-left: 2px solid #777; }
.list.issues .priority-lowest td.id { border-left-color: #bbb; }
.list.issues .priority-default td.id { border-left-color: #777; }
.list.issues .priority-high3 td.id { border-left-color: #c90; }
.list.issues .priority-high2 td.id { border-left-color: #f90; }
.list.issues .priority-highest td.id { border-left-color: #b00; }

div.issue { background-color: #fafafa; border-radius 6px; }
div.issue img.gravatar { border-radius: 90px; }
div.issue .description .contextual,
div.issue #issue_tree .contextual,
/*
div.issue #relations .contextual {
	background-color: #eee;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #bbb;
	padding: 0 4px;
}
*/

/* forum	----------------------------------------------------------- */
table.messages .message td { vertical-align: middle; }
table.messages .message .subject { padding: 1px; }
table.messages .message .author { word-break: keep-all; }

/* pages	----------------------------------------------------------- */
#content #roadmap h3 {}
#content #activity h3 {}
#content .box h3 { }


/** Hacks
 */
/* remove level 3+ from toc */
ul.toc ul ul {display: none; }

/* obsolete / checkme
#header, #top-menu { margin: 0px 10px 0px 11px; }
body { min-width: 500px; }
*/


/* plugins/redmine_tags --------------------------------------------------- */
#sidebar .tags .tag-label { margin: 0; }
.issue.details .tag-label {
	border-radius: 5px;
	background-color: #ddd;
	padding: 0 3px;
}
.issue.details .tag-label a {
	color: #700;
}

/* plugins/dashboard	--------------------------------------------------- */
.rdb-property { display: inline !important; }
.rdb-card-subject { height: 2.3em !important; }
.rdb-card .rdb-priority { height: 8em !important; }

/* print settings	--------------------------------------------------- */
@media print {
  div#main { margin: 0 !important; }
  div#main div#content { border: 0px !important; padding: 0px !important; }
  .autoscroll { overflow: none; }
}
